@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat')


h1, 
  color: $blue
  font-family: 'Merriweather', serif
  font-weight: 700

p,h4,span 
  color: $blue
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  letter-spacing: 0px

.large
  font-size: 65px
  letter-spacing: 0px

.bigger
  font-size: 55px
  letter-spacing: 0px

.big
  font-size: 42px
  letter-spacing: 0px

.medium
  font-size: 30px
  font-weight: 400
  letter-spacing: 0px


.small
  font-size: 20px
  letter-spacing: 0

  
ul 
  margin-top: 4px
  font-weight: 400
  list-style: none
  padding-left: 0


// Basic Text Style

p
  margin: 0 0 20px 0
  font-size: 30px
  letter-spacing: 0




