//	Headings
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600')


@font-face
  font-family: 'Amerigo BT bold'
  src: url('../fonts/amerigo_bold_bt-webfont') format('embedded-opentype')
  src: url('../fonts/amerigo_bold_bt-webfont.eot?#iefix') format("eot"), url('../fonts/amerigo_bold_bt-webfont.woff') format("woff"),url('../fonts/amerigo_bold_bt-webfont.woff2') format("woff2"), url('../fonts/amerigo_bold_bt-webfont.ttf') format('truetype'),url('../fonts/amerigo_bold_bt-webfont.svg#amerigo_btbold') format("svg")
  font-weight: normal
  font-style: normal



h1, h2, h3,
  color: $blue
  font-family: 'Amerigo BT bold', 'Work Sans', sans-serif
  font-weight: 700

p,h4,span 
  color: $blue
  font-family: 'Work Sans', sans-serif
  font-weight: 400
  letter-spacing: 0px

.large
  font-size: 75px


.bigger
  font-size: 60px
  line-height: 76px
  @media only screen and (max-device-width: 768px) and (orientation: portrait) 
    font-size: 50px
  @media only screen and (max-width: 320px)
    font-size: 40px

.big
  font-size: 40px
  letter-spacing: 0px
  @media only screen and (max-device-width: 768px) and (orientation: portrait) 
    font-size: 25px
  @media only screen and (max-width: 320px)
    font-size: 20px

.medium, h3
  font-size: 18px
  letter-spacing: 0px
  @media only screen and (max-device-width: 768px) and (orientation: portrait) 
    font-size: 16px
  @media only screen and (max-width: 320px)
    font-size: 12px

.sub-headig, h2
  font-weight: 300
  font-size: 40px
  letter-spacing: 0

.small, h4
  font-size: 14px
  letter-spacing: 0
  @media only screen and (max-width: 320px)
    font-size: 18px
  
ul 
  margin-top: 4px
  font-weight: 300
  list-style: none
  padding-left: 0


// Basic Text Style

p
  margin: 0 0 20px 0
  font-size: 18px
  line-height: 22px
  @media only screen and (max-device-width: 768px) and (orientation: portrait) 
    font-size: 16px
  @media only screen and (max-width: 320px)
    font-size: 14px

em
  font-style: italic

strong
  font-weight: 600

// Specific Text Style

.name
  font-family: 'Amerigo BT bold', 'Work Sans', sans-serif
  transform: rotate(-270deg)
  font-weight: 300
  font-size: 30px
  color: $blue
  letter-spacing: 0
  @media only screen and (max-width: 320px)
    font-size: 18px

.intro
  font-size: 45px
  letter-spacing: 0
  @media only screen and (max-device-width: 768px) and (orientation: portrait) 
    font-size: 30px
  @media only screen and (max-width: 320px)
    font-size: 30px


.headerfont
  font-family: 'Amerigo BT bold', 'Work Sans', sans-serif
  color: $blue