#title
  box-sizing: border-box
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  background: $lightBrown
  border-bottom: 3px solid black
  margin-left: 13%
  padding-right: 40px
  z-index: 5
  right: 0
  left: 0
  top: 0
  height: 14vh

  h1 
    padding: 10px 0px 10px 0px
    margin: 0px 
    
  
.project-description
  margin-top: 70px
  margin-bottom: 40px

.about-project-container
    margin-top: 40px
    margin-bottom: 40px
    display: grid
    grid-template-columns: repeat(2,auto)
    grid-gap: 50px
    align-items: start
    border-bottom: 3px solid black
    li 
      padding-bottom: 10px 

.project-body
  text-align: center
  img
    width: 100%
  p 
    padding-top: 50px
    padding-bottom: 50px



