
#projects
  display: block
  width: 100%

#spotless
  background-image: url(../img/spotless-home-image.png)
  background-position: center
    
#village
  background-image: url(../img/village-home-image.png)
  background-position: center

#summerfest
  background-image: url(../img/summerfest-home-image.png)
  background-position: center

#graveyard
  background-image: url(../img/graveyard-hero-image.png)
  background-position: center

.frame-wrapper
  position: relative

.project-frame
  background: white
  position: relative
  opacity: .5
  transform: scale(.95,.95)
  transform-origin: left
  display: flex
  flex-direction: row
  height: auto
  min-height: 300px
  width: 100%
  text-align: left
  margin-bottom: 200px
  border: 3px solid $blue
  transition: all 0.2s ease
  @media only screen and (max-width: 768px)
    display: flex
    flex-direction: column-reverse
    margin-bottom: 20vh
    width: 100%
  @media only screen and (max-width: 425px)
    margin-bottom: 100px!important
    opacity: 1
    transform: scale(1)
    




.frame-col-1
  display: block
  background: white
  z-index: 10
  width: 70%
  border-right: 3px solid $blue
  @media only screen and (max-width: 768px)
    width: 100%
    border-right: none
    border-top: 3px solid $blue
  p
    padding: 25px
    margin: 0px
    @media only screen and (max-width: 425px)
      padding: 15px

.project-image
  display: block
  z-index: 99
  width: 100%
  filter: grayscale(1)
  opacity: .2
  transition: all 0.2s ease
  background-size: cover
  @media only screen and (max-width: 768px)
    height: 300px
  @media only screen and (max-width: 425px)
    height: 180px
    filter: grayscale(0)
    opacity: 1
    
    

  
    
.extrude-left
  display: none
  height: 100%
  position: absolute
  width: 40px
  background-image: url(../img/bg.png) 
  background-repeat: repeat repeat
  left: -30px
  z-index: -1
  bottom: -31px
  @media only screen and (max-width: 768px)
    left: -22px
    bottom: -27px
  @media only screen and (max-width: 425px)
    display: none!important

.extrude-bottom
  display: none
  width: 100%
  position: absolute
  z-index: -1
  bottom: -29px
  height: 40px
  left: -30px
  background-image: url(../img/bg.png) 
  background-repeat: repeat repeat
  @media only screen and (max-width: 768px)
    left: -22px
    bottom: -23px
  @media only screen and (max-width: 425px)
    display: none!important

.white-bottom
  display: none
  background: white
  position: absolute
  width: 100%
  bottom: 0px
  height: 20px
  @media only screen and (max-width: 425px)
    display: none!important

.project-header
  display: block
  padding-left: 25px
  padding-top: 30px
  padding-bottom: 30px
  height: auto
  border-bottom: 3px solid $blue
  @media only screen and (max-width: 425px)
    padding: 15px
    background-image: url(../img/bg.png) 
    background-repeat: repeat repeat
    background-size: 35%
  br
    @media only screen and (max-width: 425px)
      display: none
  



.project-link:hover
  @media only screen and (min-width: 768px)
    .project-image
      opacity: .95
      filter: grayscale(0)
    .project-frame
      transform: scale(1,1)
      transform-origin: left
      opacity: 1
    .extrude-left
      display: block
    .extrude-bottom
      display: block
    .white-bottom
      display: block


.no-underline
  text-decoration: none!important

.section-header
  margin-bottom: 70px
  @media only screen and (max-width: 425px)
    margin-bottom: 30px

