
.project-body
  text-align: center
  img
    width: 100%
  p 
    padding-top: 50px
    padding-bottom: 50px

.project-tile
  position: relative
  height: 330px
  width: 100%
  text-align: left
  margin-top: 100px


.link
    clear: right
    float: left
    margin: 25px 0
    padding: 35px 0
    position: relative
    font-family: 'Work Sans'
    font-size: 63px
    letter-spacing: -2.5px
    margin-top: 55px
    margin-bottom: 55px
    transform: scale(.80,.80)
    transform-origin: left
    transition: all 0.2s ease
    span
      display: block
      font-size: 30px
      line-height: 35px
      letter-spacing: -1.1px
      margin-top: 55px

.project-background-image
  width: 760px
  height: 90%
  background-size: cover
  position: absolute
  right: 0
  filter: grayscale(1)
  opacity: .2
  transition: all 0.2s ease

.section-header
  display: block

#projects
  display: block
  width: 100%

.project-link:hover
  .project-background-image
    opacity: .95
    filter: grayscale(0)
  .link
    transform: scale(.85,.85)
    transform-origin: left

#spotless
  background-image: url(../img/spotless-hero-image.png)
    
#village
  background-image: url(../img/village-hero-image.png)

#summerfest
  background-image: url(../img/summerfest-hero-image.png)

#graveyard
  background-image: url(../img/graveyard-hero-image.png)